<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Configurações e Cadastros</h1>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="dados-fiscais"><span data-feather="home"></span>Dados Fiscais</a></h5>
                <p class="card-text">Edite os dados fiscais, tipo de tributação, etc.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="plano-contas"><span data-feather="home"></span>Plano de Contas</a></h5>
                <p class="card-text">Cadastre e gerencie o plano de contas, crie e configure contas sintéticas e analíticas.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="lotes"><span data-feather="home"></span>Lotes</a></h5>
                <p class="card-text">Cadastre as capas de lotes para auxiliar o lançamento contábil.</p>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="centros-custos"><span data-feather="home"></span>Centros de Custos</a></h5>
                <p class="card-text">Cadastre e gerencie centros de custos para agrupar os lançamentos contábeis.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="integracoes"><span data-feather="home"></span>Integrações</a></h5>
                <p class="card-text">Configure as integrações com seu ERP e outros sistemas.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="sped-contabil"><span data-feather="home"></span>SPED Contábil</a></h5>
                <p class="card-text">Exporte e importe os arquivos do SPED Contábil.</p>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="opcoes-sistema"><span data-feather="home"></span>Opções do Sistema</a></h5>
                <p class="card-text">Gerencie as opções do Mercatorum para que se adeque às suas necessidades.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="usuarios"><span data-feather="home"></span>Usuários</a></h5>
                <p class="card-text">Gerencie os acessos dos seus usuários.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a routerLink="fornecedores"><span data-feather="home"></span>Fornecedores</a></h5>
                <p class="card-text">Cadastre e gerencie sua lista de fornecedores para recebimentos e pagamentos.</p>
            </div>
        </div>
    </div>
</div>