<div class="m-3 border-bottom">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="../">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Configurações</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="empresa">Dados da Empresa</a>
                    </h5>
                    <p class="card-text">Cadastre os dados fiscais da sua empresa, sócios, endereço, contador, etc.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="centros-custos">Centros de Custos</a>
                    </h5>
                    <p class="card-text">Organize as transações da sua empresa por centros de custos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="plano-contas">Plano de Contas</a>
                    </h5>
                    <p class="card-text">Este é o seu plano de contas.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="lotes">Lotes</a>
                    </h5>
                    <p class="card-text">Lotes te auxiliam agrupar os lançamentos contábeis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="usuarios-permissoes">Usuários e Permissões</a>
                    </h5>
                    <p class="card-text">Gerencie quem pode e o que podem acessar na sua contabilidade.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="transacoes">Transações</a>
                    </h5>
                    <p class="card-text">Transações facilitam integrar seu ERP ou outros sistemas e gerar
                        contabilizações automaticamente.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="integracoes">Integrações</a>
                    </h5>
                    <p class="card-text">Permita que outras aplicações integrem com a sua contabilidade.</p>
                </div>
            </div>
        </div>
    </div>
</div>