<div class="m-3 border-bottom">
    <div class="row">
        <h3>Tudo começa aqui</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="../financeiro/fluxo-caixa">Fluxo de Caixa</a>
                    </h5>
                    <p class="card-text">Acompanhe a evolução do seu fluxo de caixa mês a mês.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="../financeiro/contas-pagar">Contas a Pagar</a>
                    </h5>
                    <p class="card-text">Aqui você gerencia todas as contas a pagar.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="../financeiro/contas-receber">Contas a Receber</a>
                    </h5>
                    <p class="card-text">E aqui você tem controle de tudo que tem a receber.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="../financeiro/estoques">Estoques</a>
                    </h5>
                    <p class="card-text">Gerencie seus estoques e tenha uma apuração de resultado mais precisa.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="../financeiro/ativo-fixo">Ativo Fixo</a>
                    </h5>
                    <p class="card-text">A depreciação dos seus ativos impactam seu resultado real. Gerencie eles aqui.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink="../financeiro/transacoes">Transações</a>
                    </h5>
                    <p class="card-text">Ainda não tem integração com outros sistemas? Então pode lançar transações
                        manuais aqui e deixar que a contabilização seja automática.</p>
                </div>
            </div>
        </div>
    </div>
</div>