<div class="m-3 border-bottom">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="../">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lançamentos</li>
            <li class="breadcrumb-item"><a routerLink="novo">Novo Lançamento</a></li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col overflow">
            <div class="row">
                <div class="col-10">
                    <div class="input-group w-100">
                        <input type="text" class="form-control"
                            placeholder="Data, Conta, Histórico, Complemento ou Lote">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
                    </div>
                </div>
                <div class="col-2">
                    <nav class="w-100">
                        <ul class="pagination pagination w-100">
                            <li class="page-item"><a class="page-link" routerLink="avancar">&larr;</a></li>
                            <li class="page-item">
                                <span class="page-link">1-6 de 15</span>
                            </li>
                            <li class="page-item"><a class="page-link" routerLink="avancar">&rarr;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-1"><input type="checkbox" class="form-check-input" /> Data</th>
                        <th class="col-3">Conta</th>
                        <th class="col-1">Valor</th>
                        <th class="col">Histórico</th>
                        <th class="col-2">Complemento</th>
                        <th class="col-2">Lote</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="form-check-input" /> 30/03/2021</td>
                        <td>4.1.1.01.1003 - Despesas Administrativas</td>
                        <td>R$ 1.234,56 D</td>
                        <td>Pagamento de despesas Administrativas</td>
                        <td>NF ENEL 5345345</td>
                        <td>001 - Padrão</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input" /> 30/03/2021</td>
                        <td>1.1.1.01.1003 - Banco Safra</td>
                        <td>R$ 1.234,56 C</td>
                        <td>Pagamento de despesas Administrativas</td>
                        <td>NF ENEL 5345345</td>
                        <td>001 - Padrão</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input" /> 30/03/2021</td>
                        <td>4.1.1.01.1003 - Despesas Administrativas</td>
                        <td>R$ 1.234,56 D</td>
                        <td>Pagamento de despesas Administrativas</td>
                        <td>NF ENEL 5345345</td>
                        <td>001 - Padrão</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input" /> 30/03/2021</td>
                        <td>1.1.1.01.1003 - Banco Safra</td>
                        <td>R$ 1.234,56 C</td>
                        <td>Pagamento de despesas Administrativas</td>
                        <td>NF ENEL 5345345</td>
                        <td>001 - Padrão</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input" /> 30/03/2021</td>
                        <td>4.1.1.01.1003 - Despesas Administrativas</td>
                        <td>R$ 1.234,56 D</td>
                        <td>Pagamento de despesas Administrativas</td>
                        <td>NF ENEL 5345345</td>
                        <td>001 - Padrão</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input" /> 30/03/2021</td>
                        <td>1.1.1.01.1003 - Banco Safra</td>
                        <td>R$ 1.234,56 C</td>
                        <td>Pagamento de despesas Administrativas</td>
                        <td>NF ENEL 5345345</td>
                        <td>001 - Padrão</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>