/* You can add global styles to this file, and also import other style files */
.table-striped {
    cursor: pointer;
}

.btn-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.tree-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 8px;
}

.tree-item {
    
}

.text-bold {
    font-weight: bold;
}