<div class="m-3 border-bottom">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="../">Configurações</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transações</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h3 class="h3">Transações</h3>
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="/">001 - Transação de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Transação de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Transação de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Transação de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Transação de Teste</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h3 class="h3">Eventos</h3>
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="/">001 - Evento de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Evento de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Evento de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Evento de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">001 - Evento de Teste</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h3 class="h3">Contabilização</h3>
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="/">1.1.1.01.1111 - Conta de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">1.1.1.01.1111 - Conta de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">1.1.1.01.1111 - Conta de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">1.1.1.01.1111 - Conta de Teste</a></li>
                <li class="list-group-item"><a routerLink="/">1.1.1.01.1111 - Conta de Teste</a></li>
            </ul>
        </div>
    </div>
</div>