<div class="m-3 border-bottom">
    <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fluxo de Caixa</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col overflow">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-1">Descrição</th>
                        <th class="col text-center">Janeiro</th>
                        <th class="col text-center">Fevereiro</th>
                        <th class="col text-center">Março</th>
                        <th class="col text-center">Abril</th>
                        <th class="col text-center">Maio</th>
                        <th class="col text-center">Junho</th>
                        <th class="col text-center">Julho</th>
                        <th class="col text-center">Agosto</th>
                        <th class="col text-center">Setembro</th>
                        <th class="col text-center">Outubro</th>
                        <th class="col text-center">Novembro</th>
                        <th class="col text-center">Dezembro</th>
                        <th class="col text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-bold">Entradas</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right">1.234,56</td>
                        <td class="text-right table-light text-bold">12.814,72</td>
                    </tr>
                    <tr>
                        <td class="text-bold">Saídas</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right">234,56</td>
                        <td class="text-right table-light text-bold">2.814,72</td>
                    </tr>
                    <tr class="table-light text-bold">
                        <td>Saldo</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right">1.000,00</td>
                        <td class="text-right table-light text-bold">10.000,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>