<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" aria-label="" *ngIf="true">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center" href="#">M E R C A T O R U M</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="logoff">Sair</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" aria-label="" *ngIf="true">
      <div class="sidebar-sticky pt-3">
        <div class="nav flex-column">
          <div class="nav-item">
            {{teste}}
            <a class="nav-link" routerLink="dashboard">Fulano de Tal<br /><small>ADMINISTRADOR</small></a>
          </div>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="dashboard">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="transacoes">
              <span data-feather="file"></span>
              Transações
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contaspagarreceber">
              <span data-feather="layers"></span>
              Contas a Pagar e a Receber
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="movimentos">
              <span data-feather="users"></span>
              Movimentos Contábeis
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="configuracoes">
              <span data-feather="bar-chart-2"></span>
              Configurações e Cadastros
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Demonstrações Contábeis</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="balanco-patrimonial">
              <span data-feather="file-text"></span>
              Balanço Patrimonial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="demonstrativo-resultado">
              <span data-feather="file-text"></span>
              Resultado do Exercício
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="balanco-patrimonial">
              <span data-feather="file-text"></span>
              Lucros ou Prejuízos Acumulados
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="balanco-patrimonial">
              <span data-feather="file-text"></span>
              Fluxo de Caixa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="balanco-patrimonial">
              <span data-feather="file-text"></span>
              Mutações do Patrimônio Líquido
            </a>
          </li>
        </ul>

        <div class="nav-item ml-2 mt-4 p-2">
          <b>Competência:</b> {{ano}}/{{mes}}<br /><br />
          <b>CNPJ:</b> 123.456.0001/90<br />
          <b>Empresa:</b> Empresa de Teste XYZ S/A<br />
        </div>
      </div>
    </nav>
  </div>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <router-outlet></router-outlet>
</main>


<div class="position-fixed top-0 end-0 p-3" style="z-index: 999999">
  <div id="liveToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      {{mensagensService.mensagem}}
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0 p-3" style="z-index: 999999">
  <div id="liveToastAlert" class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      {{mensagensService.mensagem}}
    </div>
  </div>
</div>